[class*="col-"] {
	margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

[class*="col-"]>div {
    width:100%;
}

.section_padding_top_100 > [class*="container"] {
	padding-top: 100px;
}

.section_padding_bottom_100 > [class*="container"] {
	padding-bottom: 100px;
}

.display_table{
    display: table;
}

.logo {
    padding-right: 30px;
}

.logo > a > h3 {
    font-weight: 600;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
    margin: 15px;
}

.logo > a:hover > h3{
    font-weight: 600;
    color: #e8dff1;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}

.logo > a:hover {
    text-decoration:none !important;
}

.logo, .header_mainmenu{
    float: left;
    display: inline-block;
}

header{
    background-color: #a98ec5; 
    z-index: 9999999;
}

footer{
    background-color: #6b91e1;
    height: 56px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer p{
    color: white;
    font-size: 12px;
}

footer p a, footer p a:hover{
    color: white;
    text-decoration: underline;
}

ul{
    list-style:none;
    padding-left: 0;
    table-layout: fixed;
    width: 100%;
    }

.container-fluid{
    height: 56px;
    padding: 0px 80px;
}

.header_right_buttons{
    white-space: nowrap;
    float: right;
    margin-top: 15px;
}

.header_nav {
    border-bottom: 2px solid rgba(255, 255, 255, 0.45);;
    position: fixed;
    width: 100%;
    height: 56px;
}

.row {
    display: table;
    text-align: center;
}

.header_right_buttons>ul>li>a {
    color: #ffffff;
    text-decoration:none;
}

.sf-menu, .header_right_buttons>ul>li{
    display: table-cell;
}

.mainmenu_wrapper{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font-size:14px;
    font-weight:bold;
    margin-top: 18px;
    }
    
.mainmenu_wrapper ul{
    /* background: rgb(109,109,109); */
    height:56px;
    list-style:none;
    margin:0;
    padding:0;
}

.mainmenu_wrapper li{
    float:left;
    padding:0px;
}

.header_right_buttons ul li a{
    margin-left: 25px; 
}

.header_right_buttons ul li a:hover{
    margin-left: 25px; 
    color: #e8dff1;
}

.mainmenu_wrapper li a{
    color:white;
    display:block;
    padding: 0;
    margin-right: 25px;
    text-align:center;
    text-decoration:none;
    width: 42px;
    font-weight: 300;
}

.mainmenu_wrapper li a:hover{
    text-decoration:none;
}

.sf-menu > li > a:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    -webkit-transform: translateY(10px) scaleX(0);
    transform: translateY(10px) scaleX(0);
    opacity: 0;
    transition: all 0.2s ease 0s;
}

.bordered_items .sf-menu > li > a:after {
    display: none;
}

.sf-menu > li > a:hover:after,
.sf-menu > li.active > a:after,
.sf-menu > li.sfHover > a:after {
    -webkit-transform: translateY(0) scaleX(1);
    transform: translateY(0) scaleX(1);
    opacity: 1;
}



.mainmenu_wrapper ul li:hover a{
    background: transparent;
    color: #e8dff1;
}

.mainmenu_wrapper li ul{
    background: white;
    display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
}

.mainmenu_wrapper li ul a{
    color: #000;
}

.mainmenu_wrapper li:hover ul{
    display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.mainmenu_wrapper li li {
    /* background: rgb(109,109,109); */
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:200px;
}

.mainmenu_wrapper li:hover li a{
    background:none;
}

.mainmenu_wrapper li ul a{
    display:block;
    font-size:12px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}

.mainmenu_wrapper li ul a:hover, .mainmenu_wrapper li ul li:hover a{
    /* background: rgb(71,71,71); */
    border:0px;
    color:#ffffff;
    text-decoration:none;
}

.mainmenu_wrapper p{
    clear:left;
}

.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important; 
}

body {
    font-family: 'NanumSquare', sans-serif !important;
    /* position: fixed; 
	overflow-y: scroll;
	width: 100%; */
}

.footer-left {
    display: inline-block;
}

.footer-right {
    display: inline-block;
    float: right;
}

.paddingtop-15{
    padding-top: 15px;   
}

.background-top{
    width: 100%;
    height: 56px;
}

.height-100{
    height: 100%;
}

.row{
    width: 100%;
}

/* 스크롤바 넓이 */
::-webkit-scrollbar{
    width: 12px;
}

/* 스크롤바 배경색 */
::-webkit-scrollbar-track {
    background-color: white;
}

/* 스크롤바 색상, 둥근모양 */
::-webkit-scrollbar-thumb {
    background-color: #d5e0f9;
    border-radius: 5px;
}
/* 마우스 올렸을때 색상 */
::-webkit-scrollbar-thumb:hover {
    background: #6791e3;
}
/* 버튼 넓이, 높이, 색상 */
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:12px;
    height:12px;
    background: #d5e0f9;
    border-radius: 50%; 
} 

.bg-img{
    background-image: url( "{% static 'jobcomment/img/bg.jpg' %}" )
}


/* 예지css */

/* html,body{
    width: 100%;
    min-height: 100%;
} */

body {
    width: 100%;
    min-height: 100%;
    background-image: url('/jobhakdasik/jobcomment/static/jobcomment/img/KakaoTalk_20190724_234924859.png');
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: bottom;
}

/* head contents */

.head-contents {
    text-align: center;
    height: 280px;
    width: 100%;
    background: linear-gradient( to bottom, #a98ec5, #6691e4);
    border-radius: 0 0 20px 20px;
}

.search-input {
    background-color: white;
    border-radius: 9px;
    border: #6691e4;
    height: 40px;
    display: inline-block;
    width: 100%;
    margin-top: 70px;
}

.search {
    margin-top: 5px;
    height: 30px;
    border: 0px;
    padding: 12px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    width: 80%;
    width : -webkit-calc(100% - 55px); /* for Chrome, Safari */
    width : -moz-calc(100% - 55px); /* for Firefox */
    width : calc(100% - 55px); /* for IE */
}

.fa-search{
    padding: 12px;
    float: right;
}

.content-detail {
    background-color: white;
    border-radius: 10px;
    border: #6691e4 solid 1px;
    display: inline-block;
    width: 100%;
    position: relative;
    top: -250px;
    height: 680px;
}

.content{
    overflow: auto;
    margin: 20px 10px;
    height: 640px;
}

.content-detail-text {
    margin: 10px;
}

/* 은교 끝 */

/* 명재 시작 */
.clickbox{
    vertical-align: middle;
    text-decoration: none;
    color: #6791e5; 
    border: 1px solid #6791e5; border-radius: 10px; 
    width: 100%;
    display: inline-block;
}

.profile{
  font-size: 16px; 
  font-weight: bold;
  height: 130px;
  text-align: left;
}

.img-circle{
  width:5%;
}

.image{
    width: 20px;
}